@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Kanit:ital,wght@0,400;0,700;0,800;1,100;1,200&family=Kaushan+Script&family=Mulish:ital,wght@0,300;0,700;1,300;1,700&family=Oswald:wght@300;500;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");

* {
  font-family: "Kaushan", sans-serif;
}

/* NAVBAR */
.navbar {
  background: #1f5c5a;
  color: #fff;
}

.navbar .navbar-brand img {
  height: 50px;
  width: auto;
}

/* BERANDA */
.beranda {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("asset/beranda.png");
  position: relative;
}

.beranda::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("asset/beranda.png");
  opacity: 0.45;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.beranda .container {
  position: relative;
  z-index: 2;
}

.beranda h1 {
  font-size: 2.5rem;
}

.beranda h5 {
  letter-spacing: 1px;
}

/* Panduan Pendaftaran */
.panduan {
  background-image: url("asset/background.png");
  padding: 100px 0 100px 0;
}

.panduan p {
  font-size: 25px;
}

/* Footer */

footer {
  background-color: #1f5c5a;
}

footer .container img {
  height: 150px;
  width: auto;
}

footer p {
  font-size: 20px;
  color: #fff;
}

footer a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

footer li {
  list-style: none;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 125px;
}

footer .creat {
  background-color: black;
}

footer .creat #heart {
  color: red;
}

/* Media Responsive */
@media (max-width: 768px) {
  .beranda h1 {
    font-size: 1.8rem;
  }

  .beranda h5 {
    font-size: 1rem;
  }
  nav .navbar-brand .brand-text {
    font-size: 15px;
  }

  .panduan p {
    padding: 0 10px 0 10px;
  }
  /* 
  .alur {
    padding-top: 60px;
  }

  .syarat {
    padding-top: 60px !important;
  } */
}
